.wrap{
    background-color: $bg_light;
    box-shadow: 0 0 6px 3px #1d1d1d29;
    padding: 0.8rem 0;
    .title{
       h4{
           margin-bottom: 0;
           font-weight: 700;
           text-transform: uppercase;
       }
    }    
}
.card{
    .card-body{
        .title{
            h4{
                font-weight: 700;
            }
            h6{
                font-weight: 600;
                margin-bottom: 0;
                color: $bg-green;
            }
            
        }
        ul{
            li{
                a{
                    padding: 0.5rem 1rem;
                    display: block;
                    text-decoration: none;
                    transition: all 0.5s;
                    color: $bg_dark;
                    border-bottom: 1px solid transparent;
                    cursor: pointer;
                    &:hover{
                        background-color: $bg-green;
                        color: $bg-light;
                        border-bottom-color:  #dddddd70;
                    }
                    &.active{
                        background-color: $bg-green;
                        color: $bg-light; 
                        border-bottom-color:  #dddddd70;
                    }
                }
            }
        }
    }
  .btn-outline-success{
      margin-right: 1rem;
      padding: 0.3rem 2.5rem;
      border-color: $bg-green;
      color: $bg-green;
      &:hover{
        background-color: $bg_hover;
        color: $bg-light;
     }
  }
  .btn-success{
    padding: 0.35rem 2.5rem;
    border-color: $bg-green;
    background-color: $bg-green;
    color: $bg-light;
    &:hover{
        background-color: $bg_hover;
        color: $bg-light;
     }
  }
  .btn-check:focus+.btn-success, .btn-success:focus,
   .btn-check:focus+.btn-outline-success, .btn-outline-success:focus{
    box-shadow: 0 0 7px rgba(2, 2, 2, 0.26);
}
}
.order_placed{
    border: 1px solid #ddd;
    padding: 0rem 0.85rem;
    h6{
        font-size: 0.85rem;
        color: $text-color;
        margin-bottom: 0.1rem;
        font-weight: 500;
        text-transform: capitalize;
    }
    .text-right{
        text-align: right;
    }
    p{
        font-size: 0.85rem;
        color: $text-color;
        margin-bottom: 0;
        font-weight: 500;
        text-transform: capitalize;
        strong{
            font-size: 0.9rem;
            span{
                color: $bg-green;
                margin-left: 0.3rem;
                span{
                    font-family: sans-serif;
                }
            }
        }
    }
    .heading{
        background-color: #f5f5f5;
        padding: 0.5rem 0.85rem;
        margin-left: -0.85rem;
        margin-right: -0.85rem;
        h6{
            font-size: 0.85rem;
            color: $bg-green;
            margin-bottom: 0.1rem;
            font-weight: 500;
            text-transform: capitalize;
        }
        p{
            font-size: 0.85rem;
            color: $bg-green;
            margin-bottom: 0;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
}
.user_profile{    
    border-radius: 0.2rem;
    padding: 0.75rem;
    p{
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            width: 49%; 
            &.text-right{
                text-align: right;
            }           
        }
        
        
    }
    .title{
        margin-bottom: 1rem;
        h5{
            font-weight: 600;
            margin: 0.5rem 0 0.3rem;
        }
    }
    .upload{
        display: flex;
        justify-content: space-between;
        input{
            margin-right: 0.5rem;
            position: relative;
            display: none;
        }
        label{
            
            border: 2px dashed #5ab2f9;
            padding: 0.35rem 1rem;
            color: #5ab2f9;
            font-weight: 600;
            display: block;
            cursor: pointer;
            border-radius: 0.2rem;
            margin-right: 0.5rem;
            
            &:last-child{
                margin-right: 0;
            }
        }
        
    }
    .officeAddress{
        margin-top: 1rem;
        padding-bottom: 0;
        p{
            margin-bottom: 0;
        }
        .title{
            margin-bottom: 0.3rem;
            h5{
                margin-bottom: 0;
                text-transform: capitalize;
            }
        }
        .edit_btn{
           display: flex;
           justify-content: flex-end;
           align-items: flex-end;
        }
    }
}