@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topHeader {
  background-color: #759e2e;
}

.topHeader .topMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 30px;
}

.topHeader .topMenu .contactNo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topHeader .topMenu .contactNo ul li {
  margin-right: 1rem;
}

.topHeader .topMenu .contactNo ul li a {
  display: block;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 400;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  padding: 0rem 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

.topHeader .topMenu .contactNo ul li a:hover {
  background-color: #698735;
}

.topHeader .topMenu .social_icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.topHeader .topMenu .social_icon ul li a {
  border-right: 1px solid #9cc94e;
  display: block;
  line-height: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 400;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  padding: 0rem 0.5rem;
  cursor: pointer;
  border-radius: 0rem;
}

.topHeader .topMenu .social_icon ul li a:hover {
  line-height: 23px;
  border: transparent;
  -webkit-box-shadow: 0 0 5px #464646a6;
          box-shadow: 0 0 5px #464646a6;
}

.topHeader .topMenu .social_icon ul li:last-child a {
  border-right: 0;
}

.header {
  background-color: #272e16;
  height: 60px;
}

.header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header .header_content .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_content .menu ul li a {
  color: #f8f8f8;
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  line-height: 20px;
  display: block;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .header_content .menu ul li a:hover {
  border-color: #313a24;
  background-color: #759e2e;
  border-radius: 0.2rem;
}

.header .header_content .menu ul li a img {
  max-height: 18px;
  margin-right: 0.2rem;
}

.header .header_content .logo {
  max-width: 10%;
  display: block;
}

.header .header_content .logo img {
  max-width: 90%;
}

.header .header_content .searchBox {
  min-width: 50%;
}

.header .header_content .searchBox .input-group .input-group-text {
  background-color: #759e2e;
  border-color: #759e2e;
  color: #fff;
  padding: 0 0.75rem;
  font-size: 2rem;
}

.footer {
  margin-top: auto;
  background-color: #272e16;
  color: #f8f8f8;
  padding: 1rem 0 0;
}

.footer .title h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

.footer .social_icon {
  margin-top: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social_icon li {
  margin-right: 0.6rem;
}

.footer .social_icon li a {
  display: block;
  text-decoration: none;
  background-color: #f1f1f1;
  padding: 0.57rem 0.6rem;
  color: #1a80c9;
  border-radius: 50%;
  line-height: 0px;
  cursor: pointer;
}

.footer .social_icon li a.fackbook {
  color: #3d6ad6;
}

.footer .social_icon li a.fackbook:hover {
  background-color: #3d6ad6;
  color: #fff;
}

.footer .social_icon li a.twitter {
  color: #03a9f4;
}

.footer .social_icon li a.twitter:hover {
  background-color: #03a9f4;
  color: #fff;
}

.footer .social_icon li a.youtube {
  color: #f61c0d;
}

.footer .social_icon li a.youtube:hover {
  background-color: #f61c0d;
  color: #fff;
}

.footer .social_icon li a.linkdin {
  color: #0077b5;
}

.footer .social_icon li a.linkdin:hover {
  background-color: #0077b5;
  color: #fff;
}

.footer .getInTouch li a, .footer .service li a {
  font-size: 0.8rem;
  font-weight: 400;
  display: block;
  padding: 0.3rem 1rem 0.3rem 0rem;
  text-decoration: none;
  cursor: pointer;
}

.footer .aboutUs li a {
  font-size: 0.8rem;
  font-weight: 400;
  display: block;
  padding: 0.3rem 1rem 0.3rem 0rem;
  text-decoration: none;
}

.footer .aboutUs li p {
  font-size: 0.78rem;
  font-weight: 400;
}

.footer .copyRight {
  margin-top: 1rem;
  background-color: #2a3118;
  padding: 0.5rem 0;
  border-top: 1px solid rgba(51, 51, 51, 0.7);
}

.footer .copyRight p {
  margin-bottom: 0;
  color: #f8f8f8;
  font-size: 0.85rem;
  font-weight: 400;
}

.resetPassword {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.resetPassword .imgSection {
  width: 50%;
  background-color: #f6ffe7;
  padding: 1rem 0;
}

.resetPassword .imgSection img {
  max-width: 60%;
}

.resetPassword .content_section {
  background-color: #fff;
}

.resetPassword .img_section {
  background-color: #f6ffe7;
  padding: 1rem 0;
}

.resetPassword .img_section .imgReset {
  text-align: center;
  padding: 3rem 0;
}

.resetPassword .img_section .imgReset img {
  max-width: 50%;
}

.resetPassword .reset_content {
  background-color: #fff;
  padding: 1rem 2rem;
}

.resetPassword .reset_content .title h4 {
  font-weight: 700;
  margin-bottom: 0rem;
}

.resetPassword .reset_content .title p {
  font-size: 0.8rem;
  font-weight: 500;
}

.resetPassword .reset_content label {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
}

.resetPassword .reset_content .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #759e2e;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(111, 150, 43, 0.35);
          box-shadow: 0 0 0 0.25rem rgba(111, 150, 43, 0.35);
}

.resetPassword .reset_content .btn-success {
  background-color: #759e2e;
  border-color: #759e2e;
  text-transform: capitalize;
  font-size: medium;
  font-weight: 400;
  margin-top: 1.3rem;
}

.resetPassword .reset_content .btn-success:hover {
  background-color: #698735;
}

.resetPassword .reset_content .btn-check:focus + .btn-success, .resetPassword .reset_content .btn-success:focus {
  -webkit-box-shadow: 0 0 7px rgba(2, 2, 2, 0.26);
          box-shadow: 0 0 7px rgba(2, 2, 2, 0.26);
}

.resetPassword .reset_content .forgot_pass {
  font-weight: 500;
  font-size: 0.85rem;
  color: #759e2e;
  text-align: right;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 0.3rem 0 0;
}

.resetPassword .reset_content .signUp {
  font-weight: 500;
  font-size: 0.85rem;
  color: #272e16;
  text-align: left;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 0.3rem 0 0;
  border-bottom: 1px solid transparent;
}

.resetPassword .reset_content .signUp a {
  color: #759e2e;
  margin-left: 0.5rem;
}

.resetPassword .reset_content .signUp a:hover {
  border-bottom: 1px solid #759e2e;
}

.resetPassword .reset_content .form-check-input[type=checkbox] {
  border-radius: 0.15rem;
}

.resetPassword .reset_content .form-check-input:checked {
  background-color: #759e2e;
  border-color: #759e2e;
}

.resetPassword .reset_content .form-check-input:focus {
  border-color: #759e2e;
  -webkit-box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
          box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
}

.wrap {
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0 6px 3px #1d1d1d29;
          box-shadow: 0 0 6px 3px #1d1d1d29;
  padding: 0.8rem 0;
}

.wrap .title h4 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.card .card-body .title h4 {
  font-weight: 700;
}

.card .card-body .title h6 {
  font-weight: 600;
  margin-bottom: 0;
  color: #759e2e;
}

.card .card-body ul li a {
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #272e16;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.card .card-body ul li a:hover {
  background-color: #759e2e;
  color: #f8f8f8;
  border-bottom-color: #dddddd70;
}

.card .card-body ul li a.active {
  background-color: #759e2e;
  color: #f8f8f8;
  border-bottom-color: #dddddd70;
}

.card .btn-outline-success {
  margin-right: 1rem;
  padding: 0.3rem 2.5rem;
  border-color: #759e2e;
  color: #759e2e;
}

.card .btn-outline-success:hover {
  background-color: #698735;
  color: #f8f8f8;
}

.card .btn-success {
  padding: 0.35rem 2.5rem;
  border-color: #759e2e;
  background-color: #759e2e;
  color: #f8f8f8;
}

.card .btn-success:hover {
  background-color: #698735;
  color: #f8f8f8;
}

.card .btn-check:focus + .btn-success, .card .btn-success:focus,
.card .btn-check:focus + .btn-outline-success, .card .btn-outline-success:focus {
  -webkit-box-shadow: 0 0 7px rgba(2, 2, 2, 0.26);
          box-shadow: 0 0 7px rgba(2, 2, 2, 0.26);
}

.order_placed {
  border: 1px solid #ddd;
  padding: 0rem 0.85rem;
}

.order_placed h6 {
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 0.1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.order_placed .text-right {
  text-align: right;
}

.order_placed p {
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: capitalize;
}

.order_placed p strong {
  font-size: 0.9rem;
}

.order_placed p strong span {
  color: #759e2e;
  margin-left: 0.3rem;
}

.order_placed p strong span span {
  font-family: sans-serif;
}

.order_placed .heading {
  background-color: #f5f5f5;
  padding: 0.5rem 0.85rem;
  margin-left: -0.85rem;
  margin-right: -0.85rem;
}

.order_placed .heading h6 {
  font-size: 0.85rem;
  color: #759e2e;
  margin-bottom: 0.1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.order_placed .heading p {
  font-size: 0.85rem;
  color: #759e2e;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: capitalize;
}

.user_profile {
  border-radius: 0.2rem;
  padding: 0.75rem;
}

.user_profile p {
  margin-bottom: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user_profile p span {
  width: 49%;
}

.user_profile p span.text-right {
  text-align: right;
}

.user_profile .title {
  margin-bottom: 1rem;
}

.user_profile .title h5 {
  font-weight: 600;
  margin: 0.5rem 0 0.3rem;
}

.user_profile .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user_profile .upload input {
  margin-right: 0.5rem;
  position: relative;
  display: none;
}

.user_profile .upload label {
  border: 2px dashed #5ab2f9;
  padding: 0.35rem 1rem;
  color: #5ab2f9;
  font-weight: 600;
  display: block;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
}

.user_profile .upload label:last-child {
  margin-right: 0;
}

.user_profile .officeAddress {
  margin-top: 1rem;
  padding-bottom: 0;
}

.user_profile .officeAddress p {
  margin-bottom: 0;
}

.user_profile .officeAddress .title {
  margin-bottom: 0.3rem;
}

.user_profile .officeAddress .title h5 {
  margin-bottom: 0;
  text-transform: capitalize;
}

.user_profile .officeAddress .edit_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.services {
  -webkit-box-shadow: 0px 0px 9px 4px #00000012;
          box-shadow: 0px 0px 9px 4px #00000012;
  margin-top: 2rem;
  border-radius: 0.25rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

.services .heading {
  background-color: #f4f4f4;
  margin: -1rem;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.services .heading h4 {
  margin-bottom: 0;
  font-weight: 600;
}

.services p {
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 0;
}

.services h6 {
  font-size: 0.9rem;
  font-weight: 600;
}

.services .text-right {
  text-align: right;
}

.services .text-right .btn-outline-success {
  margin-right: 1rem;
  border: 2px solid #759e2e;
  padding: 0.45rem 2.6rem;
}

.services .text-right .btn-outline-primary {
  border: 2px dashed blue;
}

.order_summary {
  -webkit-box-shadow: 0px 0px 6px 3px #00000038;
          box-shadow: 0px 0px 6px 3px #00000038;
  background-color: #f2f2f2;
  padding: 1rem;
  border: 2px dashed #759e2e;
  border-radius: 0.25rem;
}

.order_summary h6 {
  font-weight: 600;
}

.order_summary p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order_summary p .price span {
  font-family: sans-serif;
  margin-right: 0.2rem;
}

.order_summary .total .price {
  color: #759e2e;
}

.text-right {
  text-align: right;
}

.btn-success {
  padding: 0.35rem 2.5rem;
  border-color: #759e2e;
  background-color: #759e2e;
  color: #f8f8f8;
}

.btn-success:hover {
  background-color: #698735;
  color: #f8f8f8;
}

.btn-check:focus + .btn-success, .btn-success:focus,
.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
  -webkit-box-shadow: 0 0 7px rgba(2, 2, 2, 0.26);
          box-shadow: 0 0 7px rgba(2, 2, 2, 0.26);
}

.paymetMethod {
  -webkit-box-shadow: 0px 0px 6px 3px #00000038;
          box-shadow: 0px 0px 6px 3px #00000038;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.paymetMethod .btn-outline-success {
  border: 1px solid #759e2e;
  color: #759e2e;
}

.paymetMethod .btn-outline-success:hover, .paymetMethod .btn-outline-success:focus, .paymetMethod .btn-outline-success.active {
  background-color: #759e2e;
  color: #f8f8f8;
}

.paymetMethod p {
  margin-bottom: 0;
}

.form-check {
  margin-right: 2rem;
}

.form-check-label {
  font-size: large;
  margin-left: 0.5rem;
  font-weight: 600;
}

.form-check-input {
  position: relative;
  border-color: transparent;
}

.form-check-input::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: -5px;
  border: 1px solid #ccc;
}

.form-check-input:checked {
  background-color: #759e2e;
  border-color: #759e2e;
}

.form-check-input:checked[type=radio] {
  background: #759e2e;
}

.form-check-input:focus, .form-check-input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  border-color: #759e2e;
  border-color: transparent;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.category h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}
